{:duct.profile/base
 {:duct.core/project-ns isomorphic-clojure-webapp

  :duct.middleware.web/defaults {:cookie true
                                 :session {:flash true
                                           :cookie-attrs {:http-only true
                                                          ;;:same-site :strict
                                                          :max-age 3600}}
                                 :params {:urlencoded true
                                          :multipart true}
                                 :responses {:absolute-redirects true}}

  :duct.router/reitit
  {:routes [["/" {:get #ig/ref :isomorphic-clojure-webapp.handler.app/index}]
            ["/app/*" {:get #ig/ref :isomorphic-clojure-webapp.handler.app/index}]
            ["/users"
             ["" {:get #ig/ref :isomorphic-clojure-webapp.handler.users/all
                  :post #ig/ref :isomorphic-clojure-webapp.handler.users/create}]
             ["/:id" {:get #ig/ref :isomorphic-clojure-webapp.handler.users/fetch
                      :update #ig/ref :isomorphic-clojure-webapp.handler.users/update
                      :delete #ig/ref :isomorphic-clojure-webapp.handler.users/delete}]]]}

  :isomorphic-clojure-webapp.handler.app/index {}
  :isomorphic-clojure-webapp.handler.users/all {:db #ig/ref :duct.database.sql/hikaricp}
  :isomorphic-clojure-webapp.handler.users/create {:db #ig/ref :duct.database.sql/hikaricp}
  :isomorphic-clojure-webapp.handler.users/fetch {:db #ig/ref :duct.database.sql/hikaricp}
  :isomorphic-clojure-webapp.handler.users/update {:db #ig/ref :duct.database.sql/hikaricp}
  :isomorphic-clojure-webapp.handler.users/delete {:db #ig/ref :duct.database.sql/hikaricp}
  
  :duct.migrator/ragtime {:migrations [#ig/ref :review-site.migration/create-users-table]}

[:duct.migrator.ragtime/sql :review-site.migration/create-users-table]
{:up ["CREATE TABLE users (id UUID PRIMARY KEY DEFAULT gen_random_uuid (),
                           name TEXT NOT NULL,
                           email TEXT,
                           password TEXT,
                           created TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
                           updated TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP);"]
 :down ["DROP TABLE users;"]}
}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test  #duct/include "test.edn"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
